- if data.site.defaults.shownewslettersignup
	.newsletter
		%h4 Newsletter
		%p Keep up to date on new positions, offerings, and tips for top-notch prospects & clients!
		
		= partial "partials/footers/footer__newsletter-code"