<div class="container " id="About">
	<div class="row mt-xl mb-xl">
		<div class="col-md-1">
				
			</div>
			<div class="col-md-4">
			<img class="img-responsive mt-xl" src="images/2find.png" alt="" data-appear-animation="fadeInLeft">
		</div>
		<div class="col-md-1">
				
			</div>
		<div class="col-md-6">
			<h2>Step 2: Find</h2>
			<p>
				Our partnership with the best Sales Training and Sales Management Consulting company in the world means we understand the ponds, lakes and oceans we fish in. Bottom line, posts don't usually work because the right candidates usually aren't looking. Our recruiters proactively gauge interest with the profiles that match our 
SEARCH criteria.  </p>
		</div> 
		</div>
	</div>
