<div class="container section" id="About">
	<div class="row mt-xl mb-xl">
		<div class="col-md-7" >
			<h4 class="heading-primary">Our Process</h4>
				<h2 class="heading-primary">Step 1: Target</h2>
				<p>
					</p>
			</div>
			<div class="col-md-1">
				
			</div>
			<div class="col-md-4">
				<img class="hidden-xs img-responsive" style="margin-top: 50px;" src="images/1target.jpg" alt="" data-appear-animation="fadeInRight">
			</div>
	</div>
</div>