
<div class="container " id="About">
	<div class="row mt-xl mb-xl">
		
		
				<h3 class="mt-xl mb-xl  teal padding0 center">What Are You Waiting For?</h3>
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
								<h4 class="mb-xl  center">We spend most of our adult lives at work. Are you ready to move on from your job and into the career that's right for your life?</h4>		</div>
	</div>
			
			<h5 class="center heading-primary">Featured Positions</h5>
			<% data.featureJobs.each do | key, value| %>
					<div class="col-sm-4 mt-xl">
						
						
								<h4 class="heading-primary mb-none"><%= key %></h4>
								<h6 class="teal"><%= value.location %></h6>
								<p class="mb-lg" style="font-size:14px; line-height: 16px;"><%= value.description %></p>
							
						
					</div>
			<% end %>


					
					
	
	<div class="row mt-xl mb-xl">
		<div class="col-sm-3"></div>
	<div class="col-sm-3">
				<a class=" mt-lg btn btn-primary btn-lg mb-xlg "  href="https://cognitelabs.leadpages.co/leadbox/141fe5073f72a2%3A17d7e942bb46dc/5683257223938048/">Download Our Current Openings</a>
			</div>
	<div class="col-sm-3">
<a class=" mt-lg btn btn-primary btn-lg mb-xlg "  href="/contact-us">Schedule A Call With Us</a>
			</div>
</div>
	
</div>
</div>