<div class="container " >
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/positions1.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Fairy Tales are Fake</h2>
			<p>Dreams don't just "happen." We have to take initiative if we want to land the career that's right for us.</br></br>

But that process is wraught with endless moments of frustration, irritation, and annoyance.</br></br>

No wonder more people don't take an active role in managing their career.</br></br>

But, that's where we come in. We sift through the noise to find you the right opportunities, coach you through the process, and, ultimately land the career of your dreams.</p>
		</div>
		
		</div>
	<hr>
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/positions2.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Process Over Pitch</h2>
			<p>Lots of recruiters will try to "sell" you on different opportunities. Guess you can't blame them, after all your placement is their profit.</br></br>

But that's not our style.</br></br>

Our SEARCH process helps you to uncover what matters most to you both personally and professionally, so that you only explore the opportunities best suited to your needs.</p></div>
		
		</div>
	<hr>
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/positions3.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>A Well-Suited "Fit." Even if Suits Aren't Your Thing.</h2>
			<p>Finding the right "cultural fit" is important to every job-seeker. And no two people are the same. We take the time to learn about your priorities and find reasons **not** to take a job.</br></br>

So, if you run out of reasons, you know it's the right one for you.</p>
		</div>
		
		</div>
	<hr>
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/positions4.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Earnings Worth Your Time</h2>
			<p>Nothing is more frustrating than being recruited, feeling like you've found the right opportunity - only to realize the money is all wrong.</br></br>

We take money off the table early, so we can make sure that each opportunity we present you is worth your time. And your money.</p>
		</div>
		
		</div>
	</div>

<h3 class="teal center mt-xl mb-md">Don't take our word for it...</h3>
