<div class="container " >
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/prospects1.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Your Closers' Time is Valuable. Right?</h2>
			<p>Great closers are hard to come by. And they're tremendously valuable. If your salesperson is spending a lot of time prospecting, then they aren't spending that time closing.</br></br>

Let us remove the clutter, so their time is free to do what they do best: sell.</p>
		</div>
		
		</div>
	<hr>
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/prospects2.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>We Tee Them Up. You Close Them.</h2>
			<p>Prospecting is time-consuming. And, in sales, time spent not closing is time spent not generating revenue.</br></br>

Working with your list, or <a class="teal" href="https://cognitelabs.leadpages.co/leadbox/141fe5073f72a2%3A17d7e942bb46dc/5683257223938048/">using one we create</a>, our appointment setters will focus on identifying decision-makers and key influencers, capturing specific data you're looking for, and getting your sales team appointments. So your closers can focus on closing.</p></div>
		
		</div>
	<hr>
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/prospects3.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Need Leads? No Problem.</h2>
			<p >Not sure who or how to target? No problem. </br></br>

Our business development team can help you create smart leadlists that make sense for your business. Then, tee them up for your closers to close.</p>
		</div>
		
		</div>
	
	<hr >
	<div class="row mt-xl mb-xl" id="Guarantee" >
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/prospects4.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Top Talent</h2>
			<p>We are <a class="teal" href="/recruiting">expert recruiters</a> who take training seriously, which is why we [offer a year of training](#) on all our contracts.</br></br>
 
Well, that top notch training? We use it ourselves, too. Because when the best people do great work, everyone grows.</p>
		</div>
		
		</div>
	<hr >
	<div class="row mt-xl mb-xl" id="Guarantee" >
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/prospects5.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>So, Will You Need More Coffee?</h2>
			<p>Contact us to today to learn how we can help you find better leads, better qualify opportunities, and liberate your closers, so that your business can grow. Faster.</p>
		</div>
		
		</div>
	</div>


