<div class="container " >
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/recruiting1.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Top Talent. Fit Focused</h2>
			<p>It's all about talent. Everyone wants "top talent." But the best talent in the wrong environment will still yield poor results.</br></br>

With EAM Staffing, we not only recruit the best, but we test hard for "fit." Because our standard isn't merely filling a seat. It's making a match. In fact, we're so good that we <a class="teal" href="#Guarantee">guarantee</a> our placements.</p>
		</div>
		
		</div>
	<hr>
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/recruiting2.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Fill the Bench. Replace the Coach. Or Both</h2>
			<p>Sales representatives come in all shapes in sizes from Vice Presidents to rookies. Whether you're recruiting for the C-Suite or trying to find a new sales representative, we can help. </p></div>
		
		</div>
	<hr>
	<div class="row mt-xl mb-xl">
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/recruiting3.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>Service Beyond the Salesperson</h2>
			<p >Our commitment to you extends beyond the initial placement of a new hire. We stand by your side, helping them get up to speed, ensure the fit is good, and making sure you're satisfied. In fact, we include a **full year** of training with each placement.</br></br>

So, you can rest easy knowing that our hires are right for you.</p>
		</div>
		
		</div>
	
	<hr >
	<div class="row mt-xl mb-xl" id="Guarantee" >
		<div class="col-md-2">
				
			</div>
			<div class="col-xs-2 col-md-2">
			<img class="img-responsive mt-xl" src="/images/recruiting4.png" alt="" data-appear-animation="fadeInLeft">
		</div>
	
		<div class="col-xs-10 col-md-6 mb-xl">
			<h2>In Fact, We Guarantee It</h2>
			<p>We guarantee all of our placements with a renowned guarantee superior to any of our competitors. Shoot us a note and we'll be happy to answer any questions you may have.</p>
		</div>
		
		</div>
	</div>


