<div class="slider-container slider-container-fullscreen" >
	<div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
		
		<ul>
			
					
			<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
				<img src="/images/slides/suit1.jpg"  data-fullwidthcentering="on" alt="">
				
				<div class="tp-caption bottom-label sft stb darkBlue  col-md-6"
						 data-x="925" data-hoffset="0"
						 data-y="0"
						 data-speed="300"
						 data-start="1000"
						 data-easing="easeOutExpo">Employers: Prospecting
</div>
				<div class="tp-caption sft stb "
						 data-x="880"
						 data-y="0"
						 data-speed="300"
						 data-start="1000"
						 data-easing="easeOutExpo"><img src="/images/prospecting-icon-sml.png" alt=""></div>

					<div class="tp-caption main-label sft stb"
						 data-x="30" data-hoffset="0"
						 data-y="0"
						 data-speed="300"
						 data-start="1500"
						 data-easing="easeOutExpo">Coffee Is For Closers </br>Better Stock Up
					</div>
					<div class="tp-caption bottom-label sft stb darkBlue  col-md-6 button-lg"
						 data-x="15" data-hoffset="0"
						 data-y="130"
						 data-speed="500"
						 data-start="2000"
						 data-easing="easeOutExpo">Our prospecting team will keep your </br>closers reaching for the Keurig.
</div>
					<div class="tp-caption bottom-label sft stb darkBlue  col-md-6 button-md"
						 data-x="15" data-hoffset="0"
						 data-y="130"
						 data-speed="500"
						 data-start="2000"
						 data-easing="easeOutExpo">Our prospecting team will keep your </br>closers reaching for the Keurig.
</div>
					<div class="tp-caption bottom-label sft stb darkBlue  col-md-6 button-sm"
						 data-x="15" data-hoffset="0"
						 data-y="180"
						 data-speed="500"
						 data-start="2000"
						 data-easing="easeOutExpo">Our prospecting team will keep your </br>closers reaching for the Keurig.
</div>

				
		
		<a class="tp-caption customin btn btn-lg btn-primary main-button button-lg"  href="/contact-us"
						data-x="30" data-hoffset="0"
						data-y="225"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="800"
						data-start="1500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
							Contact Us
					</a>
		<a class="tp-caption customin btn btn-lg btn-primary main-button button-md"  href="/contact-us"
						data-x="30" data-hoffset="0"
						data-y="300"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="800"
						data-start="1500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
							Contact Us
					</a>
		<a class="tp-caption customin btn btn-lg btn-primary main-button button-sm"  href="/contact-us"
						data-x="30" data-hoffset="0"
						data-y="400"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-speed="800"
						data-start="1500"
						data-easing="Back.easeInOut"
						data-endspeed="300">
							Contact Us
					</a>
					

			</li>
			

			
			
		</ul>
	</div>
</div>