<section class="tealTest parallax section section-text-light section-parallax section-center mt-xl mb-none margin0" data-stellar-background-ratio="0.5" style="background-color: #0F4460;">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="owl-carousel nav-bottom rounded-nav mb-none" data-plugin-options='{"items": 1, "loop": false}'>
					<div><div class="col-md-2"></div>
						<div class="col-md-8 mt-xl">
							<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
								<blockquote>
									<p>I recommend partnering with EAM Staffing whether you want to improve recruiting results, quickly reinforce your sales staff, or bolster your sales team from top to bottom.</p></blockquote>
								<div class="testimonial-author">
									<p><strong>Fred</strong></p>
									<p>TTI</p>
								</div>
							</div>
						</div>
					</div>
					
						
				</div>
			</div>
		</div>
	</div>
</section>