/ SharpSpring Form for Email Newsletter Take 2
:javascript
  var ss_form = {'account': 'MzI1MgUA', 'formID': 'M02xMDQyTjPTTTZKS9U1SUw11LU0MDbVTUlOMzU3TjSxNLQwAwA'};
  ss_form.width = '100%';
  ss_form.height = '1000';
  ss_form.domain = 'app-1FK4F2E.marketingautomation.services';
  // ss_form.hidden = {'Company': 'Anon'}; // Modify this for sending hidden variables, or overriding values
%script{:src => "https://koi-1FK4F2E.marketingautomation.services/client/form.js?ver=1.1.1", :type => "text/javascript"}