<div id="employer-boxes">
	<div class="col-sm-6 col-md-6 blueBox box">
		<a href="/positions">
		<div class="row mt-xl mb-xl">
			<h3 class="mt-xl center white">Professional Looking for Change?</h3>
			<div class="text-center mt-lg">
			<img class="   mb-xl" style="margin-top: 50px;" src="/images/plane-icon.png" alt=""/>
			</div>	
				<h4 class=" center white">view open roles</h4>
		</div>
		</a>
	</div>


	<div class="col-sm-6 col-md-6 tealBox box">
		<a href="/recruiting">
			<div class="row mt-xl mb-xl">
				<div class="col-sm-8 col-md-9 ">
					<h3 class="mt-xl mb-sm   white">Employers: Recruiting</h3>
						<h4 class=" white">Looking to hire full-time work?</h4>
				</div>
				<div class="col-md-3 pb-lg">
					<img class=" img-responsive center mt-lg mb-lg"  src="/images/recruiting-icon.png" alt=""/>
				</div>
			</div>
		</a>
	</div>


	<div class="col-sm-6 col-md-6 lightBlueBox box">
		<a href="/prospecting">
			<div class="row mt-xl mb-xl">

				<div class="col-sm-8 col-md-9 ">
					<h3 class="mt-xl mb-sm   white">Employers: Prospecting</h3>

					<h4 class=" white">Lead Generation or Appointment Settings</h4>

				</div>
				<div class="col-md-3">
					<img class=" img-responsive center" style="margin-top: 30px;" src="/images/prospecting-icon.png" alt="" >
				</div>
			</div>
		</a>
	</div>	
</div>