<div id="looking-for">
	<div class="container">
		<div class="row mt-xl mb-xl">
			<h3 class="mt-xl mb-sm heading-primary  padding0 center">Whatever you're looking for, we can help.</h3>
			<h4 class="center mt-md mb-xl">We'll tell you if it's something we can do, or refer you to a trusted partner if we can't.</h4>
				<div class="col-sm-5">
					<a href="/recruiting"><h5 class="mt-xl center teal">Looking to Hire Full-Time Work?</h5></a>
					<p class="mt-md mb-xl center">Hire top-talent from our vast number of proved and tested top sales employees. </p>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-5">
					<a href="/prospects"><h5 class="mt-xl center teal">Looking for Lead Generation or Appointment Settings?</h5></a>
					<p class="mt-md mb-xl  center">Hire employees out of our own collection of contracted employees. </p>
				</div>
		</div>
						
		<div class="row mt-xl mb-xl">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h4 class="center">Let us help you find your next job!</h4>
				<hr class="center">
				<%= partial "partials/features/contact-form-main"  %>
			</div>
		</div>	
	</div>
</div>

