<div id="partners">
	<div class="container">
		<div class="row mt-md mb-xl">
			<h4 class="center mt-md">Beyond Sales, We've partnered Around the Country</h4>
			<div class="col-sm-2"></div>
			<div class="col-sm-3 mt-xl">
				<div class="text-center">
				<img class=" mt-xl mb-xl" src="images/MSU-logo.gif" alt="" data-appear-animation="fadeInLeft">
			
				</div></div>
			<div class="col-sm-2 mt-xl">
				<div class="text-center">
				<img class=" mt-sm mb-xl" src="images/spartan-innovation-logo.jpg" alt="" data-appear-animation="fadeInLeft">
			</div></div>
			<div class="col-sm-3  ml-xlg mt-md">
				<div class="text-center">
				<img class="mt-xl mb-xl" src="/images/AutomationAlleyLogo.png" alt="" data-appear-animation="fadeInLeft">
			</div></div>
		</div>
	</div>
</div>