<div class="slider-container " >
	<div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "off"}'>
		<ul>	
			<li id="homeSlider" class="partners" data-transition="fade" data-slotamount="10" data-masterspeed="300">
				<div class="row mt-md mb-xl ">
			<h4 class="center mt-md">Beyond Sales, We've partnered Around the Country</h4>
			<div class="col-xs-1 col-sm-1 mt-xl tall"></div>
			<div class="col-xs-5  col-sm-2 mt-xl block">
				<div class="text-center ">
				<img class=" mt-xl img-responsive" src="/images/MSU-logo.gif" alt="" data-appear-animation="fadeInLeft">
			
				</div></div>
			
			<div class="col-xs-5  col-sm-3 mt-xl ml-lg block">
				<div class="text-center ">
				<img class=" mt-sm img-responsive" src="/images/spartan-innovation-logo.jpg" alt="" data-appear-animation="fadeInLeft">
			</div></div>
						
						

			<div class="col-xs-5  col-sm-3  mt-xl block">
				<div class="text-center ">
				<img class="mt-xl  img-responsive" src="/images/AutomationAlleyLogo.png" alt="" data-appear-animation="fadeInLeft">
			</div></div>
			<div class="col-xs-5   col-sm-2  mt-xl block">
				<div class="text-center ">
				<img class="mt-md img-responsive" src="/images/ou-incubator-logo.png" alt="" data-appear-animation="fadeInLeft">
			</div></div>
		</div>
			</li>
			<li id="homeSlider" class="partners" data-transition="fade" data-slotamount="10" data-masterspeed="300">
					<div class="row mt-md mb-xl">
			<h4 class="center mt-md">Beyond Sales, We've partnered Around the Country</h4>
			<div class="col-xs-1 col-sm-1 mt-xl tall"></div>
			<div class="col-xs-5  col-sm-2 mt-sm block">
				<div class="text-center ">
				<img class="img-responsive mt-md " src="/images/northwood-logo.jpeg" alt="" data-appear-animation="fadeInLeft">
			
				</div></div>
			
			<div class="col-xs-5  col-sm-3 mt-xlg ml-lg block">
				<div class="text-center ">
				<img class="img-responsive mt-sm " src="/images/U-M-logo.png" alt="" data-appear-animation="fadeInLeft">
			</div></div>
			<div class="col-xs-5  col-sm-3  mt-md block">
				<div class="text-center ">
				<img class="img-responsive mt-xl  " src="/images/sandler-training-logo.png" alt="" data-appear-animation="fadeInLeft">
			</div></div>
			<div class="col-xs-5   col-sm-2  mt-md block">
				<div class="text-center ">
				<img class="img-responsive mt-md " src="/images/WalshCollege-logo.gif" alt="" data-appear-animation="fadeInLeft">
			</div></div>
		</div
			</li>
		</ul>
	</div>
</div>