<div id="process-step5">
	<div class="greybg">
		<div class="container">
			<div class="row mt-xl mb-xl">
				<div class="col-xs-9 col-md-6" >
					<h2 class="heading-primary">Step 5: Onboard</h2>
					<p>
					We will provide you with an onboarding plan and assist you with the Sales and Management Training elements as needed.				</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-xs-3 col-md-4">
					<img class=" img-responsive mb-xl" style="margin-top: 50px;" src="images/5onboard.png" alt="" data-appear-animation="fadeInRight">
				</div>
			</div>
		</div>
	</div>
</div>
