<div id="process-intro">
	<div class="container">
		<div class="row mt-xl mb-xl">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h2 class="mt-xl heading-primary bold padding0 center">Target. Find. Assess. Hire. Onboard.</h2>
				<p class="mt-xl mb-xl leadText center">We know where top sales talent hides and how to find them. We also understand the complexity around how to decide what profile to look for. We proactively reach out, gauge interest and assess the fit with our clients' job function requirements.
				</p>
			</div>
		</div>
	</div>	
</div>
