<div id="process-step1">
	<div class="greybg">
		<div class="container">
			<div class="row mt-xl mb-xl">
				<div class="col-xs-9 col-md-6">
					<h5 class="heading-primary mt-xl ">Our Process</h5>
					<h2 class="heading-primary padding0">Step 1: Target</h2>
					<p>
						We work with our clients to crystalize their requirements. We need to get beyond the cliches like...   "We need a Sales Rock Star, trusted advisor, who has a great network, understands our industry and knows how to close." <br><br>
				Who doesn't? Our secret sauce allows us to help you fine tune what you are looking for. We focus on knowing and understanding what will make your hire successful after they are in place and we decide who to target. 
					</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-xs-3 col-md-4">
					<img class=" img-responsive mb-xl" style="margin-top: 50px;" src="images/1target.png" alt="" data-appear-animation="fadeInRight">
				</div>
			</div>
		</div>
	</div>	
</div>
