<div id="process-step4">
	<div class="container">
		<div class="row mt-xl mb-xl">
			<div class="col-md-1"></div>
			<div class="col-xs-3 col-md-4">
				<img class="img-responsive mt-xl mb-xl" src="images/4hire.png" alt="" data-appear-animation="fadeInLeft">
			</div>
			<div class="col-md-1"></div>
			<div class="col-xs-9 col-md-6">
				<h2>Step 4: Hire</h2>
				<p>
				Our founders are available play a role in the hiring decision when needed.  We've hired >100 sales people with an extremely high success rate.  We will provide an external lens that minimizes false positives and maximizes the information needed to make an informed hiring decision.  </p>
			</div> 
		</div>
	</div>	
</div>
