<div class="slider-container slider-container-fullscreen" >
	<div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
		<ul>	
			<li id="homeSlider" data-transition="fade" data-slotamount="10" data-masterspeed="300">
				<img src="/images/slides/suit3.jpg" data-fullwidthcentering="on" alt=""/>
	
				<div class="tp-caption main-label sft stb"
					 data-x="center" data-hoffset="0"
					 data-y="top"
					 data-speed="300"
					 data-start="1500"
					 data-easing="easeOutExpo">Thank You!
				</div>

				<div class="tp-caption bottom-label  darkBlue center col-xs-10 col-sm-6"
					 data-x="center" data-hoffset="0"
					 data-y="70"
					 data-speed="500"
					 data-start="2000"
					 data-easing="easeOutExpo">Your Download is Ready. Just click the link to get it!
				</div>

				
				<div class="tp-caption"  
								data-x="center" data-hoffset="0"
								data-y="210"
								data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="500"
								data-start="1700"
								data-easing="Back.easeInOut"
								data-endspeed="300">
				</div>
			
				<a name="large-button" class="tp-caption customin btn btn-lg btn-primary main-button button-lg" href="/files/eam_open_positions.xlsx"
					data-x="center" data-hoffset="0"
					data-y="230"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="800"
					data-start="2000"
					data-easing="Back.easeInOut"
					data-endspeed="300">
						Download Now!
				</a>
				<a class="tp-caption customin btn btn-lg btn-primary main-button button-md" href="/files/eam_open_positions.xlsx"
					data-x="center" data-hoffset="0"
					data-y="330"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="800"
					data-start="2000"
					data-easing="Back.easeInOut"
					data-endspeed="300">
						Download Now!
				</a>
				<a class="tp-caption customin btn btn-lg btn-primary main-button button-sm" href="/files/eam_open_positions.xlsx"
					data-x="center" data-hoffset="0"
					data-y="560"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="800"
					data-start="2000"
					data-easing="Back.easeInOut"
					data-endspeed="300">
						Download Now!
				</a>
			</li>			
		</ul>
	</div>
</div>