<div class="slider-container slider-container-fullscreen" >
	<div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
		<ul>	
			<li id="homeSlider" data-transition="fade" data-slotamount="10" data-masterspeed="300">
				<img src="images/slides/home1.jpg" data-fullwidthcentering="on" alt=""/>
	
				<div class="tp-caption main-label sft stb"
					 data-x="center" data-hoffset="0"
					 data-y="top"
					 data-speed="300"
					 data-start="1500"
					 data-easing="easeOutExpo">EAM Staffing & Recruiting
				</div>

				<div class="tp-caption bottom-label  darkBlue center col-xs-10 col-sm-6"
					 data-x="center" data-hoffset="0"
					 data-y="70"
					 data-speed="500"
					 data-start="2000"
					 data-easing="easeOutExpo">Most best-in-class sales professionals aren't out looking for a job and
					 especially not posting their resumes to the popular job boards. It's our
					 job to identify those individuals, bring them over to the "good side", and
					 make sure the right people are in the right seats.
				</div>

				
				<div class="tp-caption"  
								data-x="center" data-hoffset="0"
								data-y="210"
								data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
								data-speed="500"
								data-start="1700"
								data-easing="Back.easeInOut"
								data-endspeed="300">
				</div>
			
				<a name="large-button" class="tp-caption customin btn btn-lg btn-primary main-button button-lg" data-hash data-hash-offset="60" href="#employer-boxes"
					data-x="center" data-hoffset="0"
					data-y="230"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="800"
					data-start="2000"
					data-easing="Back.easeInOut"
					data-endspeed="300">
						Learn More
				</a>
				<a class="tp-caption customin btn btn-lg btn-primary main-button button-md" data-hash data-hash-offset="60" href="#employer-boxes"
					data-x="center" data-hoffset="0"
					data-y="330"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="800"
					data-start="2000"
					data-easing="Back.easeInOut"
					data-endspeed="300">
						Learn More
				</a>
				<a class="tp-caption customin btn btn-lg btn-primary main-button button-sm" data-hash data-hash-offset="60" href="#employer-boxes"
					data-x="center" data-hoffset="0"
					data-y="560"
					data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
					data-speed="800"
					data-start="2000"
					data-easing="Back.easeInOut"
					data-endspeed="300">
						Learn More
				</a>
			</li>			
		</ul>
	</div>
</div>