<div id="who-we-serve">
	<div class="greybg">
		<div class="container">
			<div class="row mt-xl mb-xl">
				<div class="col-md-6" >
				
						<h2 class="heading-primary padding0">Who We Serve</h2>
						<p>
							Our company exists to assist world class organizations find and hire world class sales talent from the CXO down to the fresh-from-school.  With an industry-leading guarantee and sales training resources at our disposal, we can help you build winning sales teams!</p>
					</div>
					<div class="col-md-1">
						
					</div>
					<div class="col-md-4">
						<h4>We work with companies in the following verticals:</h4>
						<ul>
							<li>Technology</li>
							<li>Manufacturing</li>
							<li>Business Services</li>
							<li>Finacial and Insurance</li>
							<li>Energy</li>
							<li>Medical</li>
							<li>Creative (marketing)</li>
						</ul>
					</div>
			</div>
		</div>
	</div>	
</div>
