---
title: Prospecting | EAM Staffing
description: The business consultants of Common Wealth Enterprise help businesses grow revenues, shrink costs, and explode margins. At Common Wealth Enterprises, uncommon results are common.
keywords: Lansing MI business consultants, common wealth enterprises
---

<div class="body">
	<div role="main" class="main" id="home">
		<%= partial "partials/features/slider-prospecting" %>
		<%= partial "partials/features/prospecting-text" %>
		<%= partial "partials/features/employer-cta" %>
		<%= partial "partials/features/testimonials-parallax-teal"  %>
		
		
	</div>
</div>